.project-img-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(211, 211, 211, 0.3); /* light gray */
    transition: all 0.5s ease-in-out;
    z-index: 2;
  }
  
  .group:hover .project-img-overlay::before {
    left: 0;
  }

  
  